alibabacloud-dingtalk==2.2.57
alibabacloud-gateway-dingtalk==1.0.2
alibabacloud-tea-openapi==0.4.6
alibabacloud-tea==0.4.3
alibabacloud-tea-util==0.3.15
alibabacloud-openapi-util==0.2.4
alibabacloud-credentials==1.0.12
alibabacloud-credentials-api==1.0.1
alibabacloud-gateway-spi==0.0.4
alibabacloud-endpoint-util==0.0.4
darabonba-core==1.0.9
